@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Spartan", sans-serif;
}

html {
  scroll-behavior: smooth;
}

/* Global Styles */

h1 {
  font-size: 50px;
  line-height: 64px;
  color: #222;
}

h2 {
  font-size: 46px;
  line-height: 54px;
  color: #222;
}

h4 {
  font-size: 20px;
  color: #222;
}

h6 {
  font-weight: 700;
  font-size: 12px;
}

p {
  font-size: 16px;
  color: #465b52;
  margin: 15px 0 20px 0;
}

.section-p1 {
  padding: 40px 80px;
}

.section-m1 {
  margin: 40px 0;
}

body {
  width: 100%;
}

/*Start header*/
#header{
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 20px 80px;
  background:#e3e6f6;
  box-shadow: 0 5px 15px rgba(0,0,0,0.06);
  z-index: 999;
  /*ghim header */
  position: sticky;
  top: 0;
  left: 0;
}

#navbar{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#navbar li{
  list-style: none;
  padding: 0 20px; /*cách các cột ra*/
  position: relative; /*active:after; */
}
#navbar li a{
  text-decoration: none;
  font-size: 17px;
  font-weight: 150; /* độ đậm của chữ*/
  color: #black; /*màu khi click vào chữ*/
  transition: 0.3s ease;
}
#navbar li a:hover,  /*chuyển màu khi rê chuột vào chữ*/
#navbar li a.active{ /*chuyển màu chữ khi đang ở trang có class là 'active'*/
  color:#ffff; 
}
#navbar li a.active::after,
#navbar li a:hover::after{ /*rê chuột vào vị trí thì có hiệu ứng*/
  content: "";
  width: 40%;
  height: 2.5px;
  background: #088178;
  position: absolute;
  bottom: -4px;
  left: 20px;
}

/*home page*/
#hero{
  background-image: url("img/hero4.png");/* chèn banner vào trang chính*/
  /*điều chỉnh vị trí và kích thước ảnh*/
  height: 100vh;
  width: 100%;
  background-size: cover;
/*  background-position: top 25% right 100;*/
  
  /*điều chỉnh vị trí các đoạn text*/
  padding: 0 80px; /*cách lề trái*/
  display: flex;
  flex-direction: column; /*sắp xếp các bố cục theo cột*/
  align-items: flex-start;
  justify-content: center;


}
/*chỉnh sửa các headling trong 'hero'*/
#hero h4{
  padding-bottom: 15px; /*cách đều trên và dưới*/
}
#hero h1{
  color: #088178; /*thay đổi màu chữ*/
}
#hero button{
  background-image: url("img/button.png");
  border: 0; /*độ viền của khung button*/
  font-size: 20px;
  background-color: transparent;
  padding: 14px 80px 14px 65px; /*top right bottom left*/
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer; /*chuyển thành pointer khi rê chuột đến vị tri đó*/
  color:#088178;
/*  background-position: center;*/
}
#hero button:hover{
  color:#ffff;
}


/*chỉnh sửa phần features*/
#feature{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#feature .fe-box{
  width: 180px;
  text-align: center;
  padding: 25px 15px;
/*  tạo box*/
  box-shadow: 20px 20px 20px rgba(0,0,0,0.03);
  border: 1px solid #cce7d0; /*khung ngoài*/
  border-radius: 10px; /*độ bo góc*/
  margin: 15px 0;
}
#feature .fe-box:hover{
  box-shadow: 10px 10px 54px rgba(70,62,221,0.1);
}
#feature .fe-box img{
  width: 100%;
  margin-bottom: 10px; /*khoảng cách dưới của hình*/
}
#feature .fe-box h6{
  display: inline-block;
  padding: 9px 8px 6px 8px;
  line-height: 1;
  border-radius: 4px;
  color: #088178;
  background-color: #fddde4;
}
















